In [16]:
a = "karan"
print=(a)

In [17]:
A = ['apple','mango','banana','grapes']
Print= (A)

In [18]:
A= [1,2,2.5,"karan"]
print=(A)

In [19]:
a= ('mobile','network','sim','battery','headphones')
print=(a)

In [1]:
a= {'car','bus','tuck','plane','bike','scooter'}
print=(a)

In [21]:
car_info= {
    "brand" : "ford",
    "colour" : "black",
    "model" : 1997
}
print= (car_info)

In [1]:
num1 = int(input("enter first number"))
num2 = int(input("enter second number"))
sum = num1 + num2
print(sum)

55

## Loops

### syntax
### for < variables > in < sequence>:
### statement 1
### statement 2
### ....
### statement n

In [5]:
x = "python"
for y in x:
    print(y)

p
y
t
h
o
n

In [4]:
fruits = ["apple", "banana", "orange", "grapes"]
for items in fruits:
    print(items)

apple
banana
orange
grapes

## Range

In [6]:
for i in range(2, 10, 2):
    print(i)

2
4
6
8

In [7]:
for i in range(10):
    print("karan")

karan
karan
karan
karan
karan
karan
karan
karan
karan
karan

In [8]:
for i in range(6):
    print("you got point", i )

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [9]:
for num in range(1, 10, 3):
    print("level", num)

level 1
level 4
level 7

In [10]:
for num in range(2, 11):
    print("sheep", num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [11]:
for i in range(1, 8):
    print("Na"* i)

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
for i in range(2, 51, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [15]:
for i in range(0, 231, 23):
    print(i)

0
23
46
69
92
115
138
161
184
207
230

In [13]:
for i in range(1,11):
    print(23 * i)

23
46
69
92
115
138
161
184
207
230

In [19]:
for i in range(1, 11):
    print("23 *", i ,"=", 23 * i)

23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230

In [27]:
list=[25, 65, 89, 45, 65, 47, 48, 35]
print(list[2])

89

In [28]:
list=[25, 65, 89, 45, 65, 47, 48, 35]
for i in list:
    print(i)

25
65
89
45
65
47
48
35

In [33]:
n = int(input("enter a number"))
i = 1
sum = 0
while i <= n:
    sum += i
    i += 1
print(sum)

325

In [47]:
sum = 0
for i in range(1,101,2):
    if i % 2 == 1:
        sum +=i
        i += 1
print(sum)

2500

In [51]:
n = 100
i = 1
sum = 0
while i <= n:
    sum +=i
    i +=2
print(sum)

2500

In [64]:
### factorial with while loop

n =10
fact = 1
i = 1
while i <= n:
    fact*=i
    i+=1
print(fact)

3628800

In [68]:
## reverse the number with while loop

n = int(input("enter a number"))
rev = 0
while n > 0:
    x = n % 10
    rev = rev * 10 + x
    n = n // 10
print(rev)

65

In [1]:
num = int(input("enter a number"))
count = 0

while num != 0:
    num //= 10
    count += 1
print("the number of digits is", count)

the number of digits is 6

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100