- how to declare dictionary in different ways
- how to access key and values of dictionary
- how to use loops in dictionary
- nested dictionary

In [1]:
student = {
    "name" : "john",
    "class" : "12th",
    "roll_no" : 2,
    "age" : 17
}
print(student)

{'name': 'john', 'class': '12th', 'roll_no': 2, 'age': 17}

In [2]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' : [30,35,40],
    'chenni' : [24,23,22]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'chenni': [24, 23, 22]}

In [3]:
info = dict(name = 'john', age = 17, roll_no = 2, class_ = '12th')
print(info)

{'name': 'john', 'age': 17, 'roll_no': 2, 'class_': '12th'}

In [4]:
info2 = dict(name=input('enter your name : '),
        age = int(input('enter your age :')),
        roll_no = int(input('enter your roll_no :')),
        class_ = input('enter your class :'))
print(info2)

{'name': 'karan singh', 'age': 18, 'roll_no': 14, 'class_': '7'}

In [6]:
# 1st method to access the value of a key

print(student['name'])
print(temp['lucknow'])

john
[25, 30, 35]

In [8]:
# 2nd method to access the value of a key

print(student.get('age'))
print(info.get('class_'))

17
12th

In [9]:
# to add items in a dictionary

student['city'] = 'lucknow'
student['school'] = 'DPS'
print(student)

{'name': 'john', 'class': '12th', 'roll_no': 2, 'age': 17, 'city': 'lucknow', 'school': 'DPS'}

In [10]:
# 1st method to remove items in a dictionary

student.pop('school')
print(student)

{'name': 'john', 'class': '12th', 'roll_no': 2, 'age': 17, 'city': 'lucknow'}

In [11]:
#  2nd method to remove items in a dictionary

del student['roll_no']
print(student)

{'name': 'john', 'class': '12th', 'age': 17, 'city': 'lucknow'}

In [12]:
for k in info:
    print(k)

name
age
roll_no
class_

In [15]:
for k,v in info2.items():
    print(f'{k} : {v}')

name : karan singh
age : 18
roll_no : 14
class_ : 7

In [16]:
# to print values

print(student.values())
print(student.keys())
print(student.items())

dict_values(['john', '12th', 17, 'lucknow'])
dict_keys(['name', 'class', 'age', 'city'])
dict_items([('name', 'john'), ('class', '12th'), ('age', 17), ('city', 'lucknow')])

In [19]:
company = {
    'emp001' : {'name': 'john', 'age' : 25, 'dept' : 'HR', 'salary':25000},
    'emp002' : {'name': 'emma', 'age' : 30, 'dept' : 'finance', 'salary':30000},
    'emp003' : {'name': 'linda', 'age' : 35, 'dept' : 'IT', 'salary':35000},
    'emp004' : {'name': 'david', 'age' : 40, 'dept' : 'Admin', 'salary':40000},
}
print(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 25000}, 'emp002': {'name': 'emma', 'age': 30, 'dept': 'finance', 'salary': 30000}, 'emp003': {'name': 'linda', 'age': 35, 'dept': 'IT', 'salary': 35000}, 'emp004': {'name': 'david', 'age': 40, 'dept': 'Admin', 'salary': 40000}}

In [20]:
# (pretty print) pp to print dictionary as we writen

from pprint import pp

In [21]:
pp(company)

{'emp001': {'name': 'john', 'age': 25, 'dept': 'HR', 'salary': 25000},
 'emp002': {'name': 'emma', 'age': 30, 'dept': 'finance', 'salary': 30000},
 'emp003': {'name': 'linda', 'age': 35, 'dept': 'IT', 'salary': 35000},
 'emp004': {'name': 'david', 'age': 40, 'dept': 'Admin', 'salary': 40000}}

In [22]:
print(company['emp002'])   # it use to find any perticular employe

{'name': 'emma', 'age': 30, 'dept': 'finance', 'salary': 30000}

In [23]:
print(company['emp002']['dept'])   # find perticular dept

finance

In [25]:
print(company['emp004']['age'])    # find perticular emp age

40

In [29]:
company['emp005']

<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
C:\Users\Karan Singh\AppData\Local\Temp\ipykernel_20936\4197487540.py:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  company['emp005'] = 'name' ['karan']

TypeError: string indices must be integers, not 'str'

In [31]:
# to enter the index value

print(temp['lucknow'][0])
print(temp['delhi'][2])

25
40

In [40]:
# to find the average of a temperature

print('average temperature of delhi is :', sum(temp['delhi'])/len(temp['delhi']))

average temperature of delhi is : 35.0