## function in set
- create
- mehtods and operations
  - union
  - intersection
  - symmetric differences
  - issubset
  - issuperset

In [1]:
x = {1,2,3,4,5}                              # set{}
y = {1,2,3,4,5,5,5,2,4,3,1,2,4,3}
print(x)
print(y)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [9]:
a = set('hello')            # set never print in a sequence wise
print(a)

{'l', 'o', 'h', 'e'}

In [10]:
b = set([1,4,5,6,7,8,9,4,5,6,7,8,9,4,5,6,7,8,9])         # create set (set never prints duplicate numbers)
print(b)

{1, 4, 5, 6, 7, 8, 9}

In [11]:
c = set(range(11))            # create set by range method
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
data = set()           # create empty set
print(data)

set()

In [13]:
data.add(1)            # we can add data in set
data.add(2)
data.add(3)
data.add(4)
data.add(5)
print(data)

{1, 2, 3, 4, 5}

In [14]:
data.discard(4)        # it will remove data by given index number
print(data)

{1, 2, 3, 5}

In [15]:
data.pop()
print(data)    # it will remove data from starting

{2, 3, 5}

In [16]:
data.clear()          # it will clear the data from set
print(data)

set()

In [17]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {7,8,9,10}
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10, 7}

In [18]:
print(a.union(b))      # it will combine the data but not print duplicate numbers
print(a|b)             # second method

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
print(a.intersection(b))        # it will print common numbers
print(a&b)

{4, 5}
{4, 5}

In [23]:
print(a.symmetric_difference(b))     # it will print only unique numbers in set and not print the common numbers in set      
print(a ^ b)

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [24]:
print(a.issuperset(b))     # in (b) there is

False