In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'aoole', 'banana']
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'aoole', 'banana']

In [3]:
for x in fruits:
    print(x)

orange
apple
pear
banana
kiwi
aoole
banana

In [4]:
for x in fruits:
    print(x, end = ' ')

orange apple pear banana kiwi aoole banana

In [5]:
for x in fruits:
    print(x, end = 'üêª‚Äç‚ùÑÔ∏è')

orangeüêª‚Äç‚ùÑÔ∏èappleüêª‚Äç‚ùÑÔ∏èpearüêª‚Äç‚ùÑÔ∏èbananaüêª‚Äç‚ùÑÔ∏èkiwiüêª‚Äç‚ùÑÔ∏èaooleüêª‚Äç‚ùÑÔ∏èbananaüêª‚Äç‚ùÑÔ∏è

In [6]:
name = "Chandrashekahr"
for i in name:
    print(i)

C
h
a
n
d
r
a
s
h
e
k
a
h
r

In [11]:
name = "Chandrashekahr"
for i in name:
    print(i, end = '')

Chandrashekahr

In [16]:
name = 'karan'
for i in range(1,6):
    print(i,name)

1 karan
2 karan
3 karan
4 karan
5 karan

In [17]:
a = 10
b = 5
sum = a+b
print("sum :", sum)                       # first method
print("sum of", a, "and", b, "is", sum)   # second method
print(f"sum of {a} and {b} is {sum}")     # third method

sum : 15
sum of 10 and 5 is 15
sum of 10 and 5 is 15

In [31]:
a = 15                     
for i in range(1,11):
    print(a,"x",i,'=', i* a,)        # first method

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [1]:
a = 15
for i in range(1,11):
    print(f"15 x {i} = {a*i}")     # second method

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [38]:
n= 100                # sum of integers from 1 to 100
sum = 0
for i in range(0, n+1):
    sum += i
print(sum)

5050

In [34]:
for i in range(0, 21, 2):  # first method
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [35]:
for i in range(0, 21):        # condition method
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

In [39]:
sum = 0
for i in range(0, 21, 2):
    sum += i
print(sum)

110

## while loop

In [37]:
num = 1                 # print 1 to 10 natural number
while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [3]:
n = 1            # sum of even number using ( while loop)
sum = 0
while n <= 100:
    sum += n
    n += 1
print(sum)

5050

# break and continue

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'tomato', 'kiwi', 'apple', 'banana']
for fruit in fruits:
    if fruit == 'tomato':
        break                   # break
    print(fruit)

orange
apple
pear
banana

In [2]:
fruits = ['orange', 'apple', 'pear', 'banana', 'tomato', 'kiwi', 'apple', 'banana']
for fruit in fruits:
    if fruit == 'tomato':
        continue              # continue
    print(fruit)

orange
apple
pear
banana
kiwi
apple
banana

In [7]:
name = 'karan'
for i in name:
    if i == 'r':
      break                   # break
    print(i)

k
a

In [8]:
item = ['pen', 'pencil', 'eraser','sharpner', 'scale', 'book', 'bag', 'bottle', 'lunchbox', 'tiffin']
for i, v in enumerate(item):    # enumerate
    if i == 8:
        break
    print(f'{i} - {v}')

0 - pen
1 - pencil
2 - eraser
3 - sharpner
4 - scale
5 - book
6 - bag
7 - bottle

In [2]:
mobile = ['realme', 'redmi','samsung', 'apple', 'vivo', 'oneplus', 'blackberry', 'oppo']
for i, x in enumerate(mobile):
    if i == 5:
        break
    print(f'{i} - {x}')

0 - realme
1 - redmi
2 - samsung
3 - apple
4 - vivo